<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ajin.mybatis.mapper.StudentMapper">
    <!--使用if判断条件是否为空，进行查询sql语句的拼接-->
    <select id="selectStudentMul" parameterType="com.ajin.mybatis.model.StudentVo" resultType="com.ajin.mybatis.model.Student">
        <!-- select * from student where sname=#{student.sname} and ssex =#{student.ssex}
           一定要注意上面这句话是否时真的注释成功了，就是满足xml文件注释的格式，否则不小心会发现虽然注释了，但是最终运行会报错，并没有被注释掉
        -->
        select * from student s
           <!-- 使用where标签可以自动去掉第一个and 很方便-->
           <where>
               <if test="student!=null">
                   <if test="student.sname!=null and student.sname!=''">
                            and s.sname=#{student.sname}
                   </if>
                   <if test="student.ssex!=null and student.ssex!=''">
                       and s.ssex=#{student.ssex}
                   </if>
               </if>

           </where>
    </select>
</mapper>